<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="cache.provider_class">net.sf.ehcache.hibernate.SingletonEhCacheProvider</property>
        <!--<property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property> -->
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="namingStrategy">net.sf.hibernate.cfg.ImprovedNamingStrategy</property>
        <!-- orm -->
        <!--<mapping class="package.to.ORM.Model" />-->
    </session-factory>
</hibernate-configuration>